* {box-sizing: border-box; margin: 0; padding: 0;}

:root {
  --body-bg-color: hsl(233, 100%, 97%);
  --header-bg-color: hsl(218, 17%, 62%);

  --headtitle-bg-color: hsl(275, 18%, 79%);
  
  --paragraph-color: hsl(274, 84%, 12%);

  --card-span-color: hsl(232, 17%, 35%);
  --card-span-bg-color: hsl(312, 91%, 96%);

  font-size: 62.5%;
}

body {
  min-height: 100vh;

  background-color: var(--body-bg-color);

  font-size: 1.6rem;
  font-family: 'Staatliches', cursive;
}

.container {
  width: min(34rem, 100%);

  margin-inline: auto;

  padding-inline: 2rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  text-align: center;

  margin-inline: auto;

  animation: 6s appear ease forwards;
}



/*==== HEADER ==============================*/

.header-content {
  text-align: center;
  color: white;

  background-color: var(--header-bg-color);

  padding-block: 3.2rem 2.9rem;
}

.header-content img {
  height: 13.7rem;

  margin-bottom: 2.8rem;

  animation: top-down 1.5s ease forwards;
}

.header-content h1 {
  background-color: var(--headtitle-bg-color);

  padding-block: 0.8rem;

  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  animation: top-down 1.5s ease forwards;
}

.header-content p {
  display: none;
}



/*==== MENU SECTION ==============================*/

.menu-content {
  padding-block: 2rem 6rem;
}

.menu-info p {
  width: min(76.8rem, 100%);

  color: var(--paragraph-color);
  line-height: 2rem;

  padding-inline: 2rem;
}

.menu-options {
  margin-top: 5.5rem;

  display: grid;

  gap: 3.2rem;
}

.card {
  position: relative;

  opacity: 0;

  transition: 0.4s;
}

.card:hover {
  z-index: 10;
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card span {
  position: absolute;
  right: 1.6rem; top: 1.6rem;

  user-select: none;

  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--card-span-color);

  padding-inline: 2.3rem;
  
  border-radius: 2rem;

  background-color: var(--card-span-bg-color);
}



/*==== FOOTER ==============================*/

footer {
  padding-bottom: 6rem;
}



/*==== ANIMATIONS ==============================*/

.menu-options div:nth-of-type(1) {
  animation: 1.5s left-right 1s ease forwards;
}

.menu-options div:nth-of-type(2) {
  animation: 1.5s right-left 1.5s ease forwards;
}

.menu-options div:nth-of-type(3) {
  animation: 1.5s left-right 2s ease forwards;
}

.menu-options div:nth-of-type(4) {
  animation: 1.5s right-left 2.5s ease forwards;
}

.menu-options div:nth-of-type(5) {
  animation: 1.5s left-right 3s ease forwards;
}

.menu-options div:nth-of-type(6) {
  animation: 1.5s right-left 3.5s ease forwards;
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-left {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes down-top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/*==== RESPONSIVE ==============================*/

@media (min-width: 768px) {
  .container {
    width: 76.8rem;
  }


  /*==== MENU SECTION ==============================*/

  .menu-options {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'A D'
    'B D'
    'B C'
    'E F';
  }

  .menu-options div:nth-of-type(1) {
    grid-area: A;
  }

  .menu-options div:nth-of-type(2) {
    grid-area: B;
  }

  .menu-options div:nth-of-type(3) {
    grid-area: C;
  }

  .menu-options div:nth-of-type(4) {
    grid-area: D;
  }

  .menu-options div:nth-of-type(5) {
    grid-area: E;
  }

  .menu-options div:nth-of-type(6) {
    grid-area: F;
  }
}


@media (min-width: 1024px) {
  .container {
    width: 102.4rem;
  }

  .menu-options {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'A B E'
    'D B F'
    'D C F';
  }
}


@media (min-width: 1280px) {
  body {
    display: grid;
    grid-template-columns: 37.7rem 1fr;
    grid-template-areas: 
    'A B'
    'A C';
  }

  header {
    grid-area: A;
  }

  main {
    grid-area: B;
  }

  footer {
    grid-area: C;
  }

  .container {
    width: 80%;
  }


  /*==== HEADER ==============================*/

  .header-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .header-content img {
    height: 16.7rem;
    width: 21.5rem;

    margin-block: 0;
    margin-inline: auto;
  }

  .header-content h1 {
    padding-block: 2rem;
  }

  .header-content p {
    display: block;

    width: 27rem;

    color: white;
    line-height: 2.6rem;
  }


  /*==== MENU SECTION ==============================*/

  .menu-content {
    padding: 0;
  }

  .menu-info p {
    display: none;
  }

  
  /*==== FOOTER ==============================*/

  footer {
    align-self: flex-start;

    padding-block: 2rem 0;
  }
}